.accounts-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.add-account {
    cursor: pointer;
    width: 50%;
    text-align: center;
}